.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a:link, a:visited .navbar{
  text-decoration: none;
}

select {
  height: 40px;
  border: 0px;
  padding-top: 10px;
  background-color: #eeeeee;
  
}

button.assign {
  border-radius: 5px;
}

select option {
  display: inline-block;
  padding: 5px;
  border: solid 1px;
  overflow: visible;
  background-color: #eeeeee;
}

div.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 20px;
}

div.refresh {
  padding-left: 20px;
}

div.user {
  /* background-color: #eeeeee; */
  min-width: 300px;
  border-radius: 10px;

}

 .subtaskform {
  /* background-color: #eeeeee; */
  margin: 30px

}

div.subtask {
  /* grid-column: span 3; */
  grid-row: span 2;
  min-width: 300px;
  /* background-color: #eeeeee; */
  border-radius: 10px;
  /* padding: 30px; */
  /* max-height:600px; */
  /* overflow: hidden; */
  overflow: scroll;
}
